table{
    
    border :5px black;
    background-color: deepskyblue;
    color: white;
    
}

tr {
    background-color: dodgerblue;
}
    
.text{
    width:1350px;
    height:50px;
    color: forestgreen;
}

.text2{
    color: forestgreen;
}

body{
    background-image:url(back.jpg);
    color: black;}
    
    button{
        background: yellow;
        color: black;      
    }
  